.Tasklist {
  width: 100%;
  text-align: center;
}

.Task {
  width: 100%;
}

.AddTaskForm {
  margin-top: 10px;
  text-align: center;
}

.addTaskButton {
  width: 500px;
}

.flexContainer {
  display: flex;
  justify-content: center;
}

.centerAlign {
  align-items: center;
}

.flexGrower {
  flex-grow: 1;
}

.flexBlock {
  display: inline-block;
}

.multiplierInput {
  width: 100px !important;
}

.nowrap {
  white-space: nowrap;
}

.taskControlButton {
  margin: 10px;
}

.MatrixObjective {
  margin: 5px 0px 5px 0px;
}
