.taskContainer {
  margin: 0% 10% 0% 10%;
  width: 100%;
  text-align: center;
}

.task {
  width: 100%;
}

.objectiveSlider .numberInput {
  width: 100px;
}

.objectiveSlider .rangeInput {
  width: 300px;
}

.objectiveDropdown {
  max-width: 500px;
}

.addObjectiveForm {
  margin-bottom: 10px;
}

.objectiveBlock {
  display: flex;
  justify-content: flex-end;
}

.DetachObjectiveForm {
  margin-right: 10px;
}