.addObjectiveButton {
  width: 150px;
  height: 30px;
}

.textInput {
  margin-right: 12px;
}

.flexContainer {
  display: flex;
}

.paddedBlock {
  display: inline-block;
  padding: 0px 5px 0px 5px;
}

.capitalize {
  text-transform: capitalize;
}
