.addObjectiveButton {
  width: 150px;
  height: 30px;
}

.textInput {
  margin-right: 12px;
}

.objectiveListItem {
  display: flex;
}

.objectiveBlock {
  display: inline-block;
  flex-grow: 1;
}

.objectiveBlock > span {
  margin: auto;
}