.addObjectiveButton {
  width: 150px;
  height: 30px;
}

.textInput {
  margin-right: 12px;
}

.flexContainer {
  display: flex;
}

.flexGrower {
  flex-grow: 1;
  width: 100%;
}

.paddedBlock {
  display: inline-block;
  padding: 0px 5px 0px 5px;
}

.capitalize {
  text-transform: capitalize;
}

.objectiveControlButton {
  margin: 10px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {}
}

.appearAnimation {
  animation-name: appear;
  animation-duration: 0.6s;
}